{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/students/student-detail.css' %}" />
{% endblock %} 

<section class="student-container">
  <div class="student-img">
    <img src="" alt="place holder" />
  </div>
  <div class="student-details">
    <h1>{{ student.name }}</h1>
    {% if student.age > 4 %}
      <h2>A {{ student.age }} year old born on {{ student.birthday }}</h2>
    {% else %}
      <h2>A {{ student.age }}year old baby is not ready for school yet.</h2>
    {% endif %}
    <p>{{ student.about }}</p>

    <div class="student-actions">
      <a href="{% url 'student-update' student.id %}" class="btn warn">Edit</a>
      <a href="{% url 'student-delete' student.id %}" class="btn danger">Delete</a>
    </div>
  
<div class="studentjobs-jobs-container">
  <section class="studentjobs">
    <div class="subsection-title">
      <h2>Student Jobs Records</h2>
      <img
        src="{% static '' %}"
        alt="placeholder"
      />
      <img src="{% static '' %}" alt="placeholder" />
      <img
        src="{% static '' %}"
        alt="placeholder"
      />
    </div> 
    <h3>Add a Student Job Record</h3>
    <form action="{% url 'associate-availablejobs' student.id availablejobs.id %}" method="post">
      {% csrf_token %}
      {{ studentjobs_form.as_p }}
      <button type="submit" class="btn submit">Give Job</button>
    </form> 
</section>
</div>
<h3>Past Job Reord</h3>
{% if student.studentjobs_set.all.count %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Job</th>
      </tr>
    </thead>
    <tbody>
      {% for studentjobs in student.studentjobs_set.all %}
      <tr>
        <td>{{studentjobs.date}}</td>
        <td>{{studentjobs.get_job_display}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="subsection-content">
    <p>⚠️ {{student.name}} has not done their job!</p>
  </div> 
  {% endif %} 
  </div>
  </div>
</section>
<section class="availablejobs">
  <div class="subsection-title">
    <h2>Jobs</h2>
    <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
    <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
    <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
  </div>
  <h3>{{ student.name }}'s Jobs</h3>
  <div class="subsection-content">
    {% if student.availablejobs.count %} 
      {% for availablejobs in student.availablejobs.all %}
        <div class="availablejobs-container">
          <div class="color-block" style="background-color: {{ availablejobs.color }}"></div>
          <a href="{% url 'availablejobs-detail' availablejobs.id %}">
            <p>A {{ availablejobs.color }} {{ availablejobs.name }}</p>
          </a>
          <form action="{% url 'remove-availablejobs' student.id availablejobs.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove Job</button>
          </form>
        </div>
      {% endfor %} 
    {% else %}
      <p class="no-availablejobs">{{student.name}} doesn't have any jobs!</p>
    {% endif %}
  </div>

  <h3>Available Jobs</h3>
  <div class="subsection-content">
    {% if availablejobs.count %} 
    {% for availablejobs in availablejobs.all %}
      <div class="availablejobs-container">
        <div class="color-block" style="background-color: {{ availablejobs.color }}"></div>
        <a href="{% url 'availablejobs-detail' availablejobs.id %}">
          <p>A {{ availablejobs.color }} {{ availablejobs.name }}</p>
        </a>
        <form action="{% url 'associate-availablejobs' student.id availablejobs.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn submit">Give job</button>
        </form>
      </div>
    {% endfor %} 
  {% else %}
    <p class="all-availablejobs">{{student.name}} already has all the available jobs 🥳</p>
  {% endif %}
</div>

  </div>
</section>

 
